.navbar-dark {
    background: black !important;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.navbar-text {
    color: gold !important;
    margin-bottom: 0 !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h3 {
    font-size: 200%;
}

.current-score {
    padding-left: 10% !important;
    font-size: 150% !important;
}

.high-score {
    padding-right: 10% !important;
    padding-left: 15% !important;
    text-align: right !important;
    font-size: 150% !important;
}